
@import 'mwc';

#root {
	max-height:100vh;
	overflow:hidden;
}

.board {
	position: relative;
	float:left;
	height:100%;
}

.rsvp-views {
	float:right;
  width: 150px;
  padding-right: 15px;
}

.text--white {
	padding-left:4px;
	color: $C_white;
}

.life-force {
	position: absolute;
	top: 10;
	left: 10;
	background-color: $C_plum;
	border: 1px solid gray;
	height: 10px;
}

$piece: 100px;
.piece {
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
	font-weight: bold;
	color: white;
	width: $piece;
	height: $piece;
	cursor: crosshair;
	&.going {
		background-color: $C_teal;
	}
	&.not-going {
		background-color: $C_red;
	}
	&.waitlist {
		background-color: $C_lightGray;
	}
}

.response {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	&.going {
		background-color: $C_teal;
	}
	&.not-going {
		background-color: $C_red;
	}
	&.waitlist {
		background-color: $C_lightGray;
	}
	svg {
		fill: white;
		color: white;
	}
}

.bg {
	width:100%;
	background:black;
}

.content {
	height:100vh;
	position:relative;
	background: black;
	.text--pageTitle {
		color:$C_white;
	}
}

.rsvp-ticker {
	position: absolute;
	bottom: 0;
	left: 20px;
}