
@import 'mwc';

#root {
	max-height:100vh;
	overflow:hidden;
}

.board {
	position: relative;
	float:left;
	height:100vh;
}

.gameBackground {
	width: 100%;
	height: 100vh;
	background-image: url('../assets/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.rsvp-views {
	float:right;
  width: 150px;
  padding-right: 15px;
  color: white;
}

.text--white {
	padding-left:4px;
	color: $C_white;
}

.life-force {
	position: absolute;
	top: 10;
	left: 10;
	background-color: $C_plum;
	border: 1px solid gray;
	height: 15px;
}

$piece: 100px;
.piece {
	display:flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	border-radius: 50%;
	font-weight: bold;
	color: white;
	width: $piece;
	height: $piece;
	cursor: crosshair;
	&.going {
		background-color: $C_teal;
	}
	&.not-going {
		background-color: $C_red;
	}
	&.waitlist {
		background-color: $C_lightGray;
	}
}

.character {
	position:absolute;
	left: 0;
	bottom:0;
	width: 125px;
	height: 90px;
	z-index: 1000;
	background-color: red;
	mix-blend-mode: multiply;
	&.character--left {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
}

.response {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	&.going {
		background-color: $C_teal;
	}
	&.not-going {
		background-color: $C_red;
	}
	&.waitlist {
		background-color: $C_lightGray;
	}
	svg {
		fill: white;
		color: white;
	}
}

.bg {
	width:100%;
	background:black;
}

.content {
	height:100vh;
	position:relative;
	background: black;
	.text--pageTitle {
		color:$C_white;
	}
}

.rsvp-ticker {
	position: absolute;
	bottom: 0;
	left: 20px;
	color: white;
}